body,
html {
    height: 100%;
}

.job-post-form {
    margin-top: 50px;
}

.failed-login {
    float: right;
}

.job-list {
    margin: 20px;
}

.success {
    margin-top: 50px;
}

.applications {
    margin-top: 50px;
}
